<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo Not Workinig</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">

        <div class="jumbotron">
            <h1 class="display-4"> Canvas Demo Not Workinig </h1>
            <p class="lead">
                <ul>
                    <li> Seems, You are not accessing this page from Salesforce. OR  </li>
                    <li>  App did not received valid Signed Request. OR </li>
                    <li>  Logged in User is not configured to use canvas app  </li>
                </ul>
                 
            </p>
        </div> 
    </div>  
</body> 
</html>