
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo </title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <link href="jsonTree.css" rel="stylesheet" />
    <script src="jsonTree.js"></script>

</head>

<body>
    <div class="container-fluid">
 
        <div class="jumbotron">
            <h1 class="display-4"> Canvas App Workinga as Expected, Few Observations </h1>
            <p class="lead">
                <ul>
                    <li> OAuth setting needed in Connected App for scope but no use of Callback URL.  </li>
                    <li>  Users must be preapproved for signed request, otherwise OAuth flow would be needed. </li> 
                </ul> 
            </p> 
        </div> 
     
        <p>
            <div id="reqCode">

            </div>
        </p>

    </div>  
    <script>
        let req = "<%= req %>"  ; 
        var decodedString = req.split('&quot;').join('"')  ;  
        var wrapper = document.getElementById("reqCode"); 
        // or from a string by JSON.parse(str) method
        var dataStr = decodedString;
        try {
            var data = JSON.parse(dataStr);
        } catch (e) {}

        // Create json-tree
        var tree = jsonTree.create(data, wrapper);  
    </script>
</body> 
</html>